<h1>書籍の新規登録</h1>
<%= form_tag('/booksearch', method: :get) do %>
<div class="input-group">
      <%= search_field_tag "keyword", params[:keyword], class: "form-control", placeholder: "キーワード検索" %>
<span class="input-group-btn">
          <%= submit_tag "検索", class: "btn btn-primary" %>
</span>
</div>
<% end %>
<% if @books.present? %>
  <h2>検索結果</h2>
  <% @books.each do |book| %>
    <%= form_with model:@book, url: edit_book2_path, method: :post, local: true do |f| %>
      <img src="<%= book[1] %>" width="80" vspace="3">
      <%= book[0] %> |
      <%= book[2] %> |
      <%= f.hidden_field :title, value: book[0] %>
      <%= f.hidden_field :body, value: book[2] %>
      <%= f.submit "追加", class: "btn btn-primary" %><br>
    <% end %>
  <% end %>
<% end %>

